body {
    background: #4b4b4b;
    max-width: 900px;
    margin: auto;
}

.foto {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #1032a3
}

#title, .subtitle {
    color:#ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

.post_title{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1032a3
}

.post {
    background: rgb(214, 214, 214);
    padding: 10px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 .post_content {
     margin-bottom: 15px;
     text-align: center;
     margin-left: 5%;
     margin-right: 5%;
     margin-top: 25px;
 }

 .post_image {
     margin-bottom: 15px;
     margin-left: auto;
     margin-right: auto;
     display: block;  
     width: 100%;
 }  

 .listas {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 20px;
     color:#ffffff;
     text-align: center;
     list-style-type: none;
 }


